.modal_container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.modal_container__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 0.8rem 1.5rem;
  border-radius: 20px;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 3;
}

.modal__close_button {
  align-self: flex-end;
}

.modal__title {
  font-size: 1.8rem;
  color: var(--black);
  padding: 0;
  margin: 0.5rem 0 1rem;
  text-align: center;
}

.modal__helper {
  color: var(--gray);
  padding: 0;
  margin: 0 0 2rem 0;
  text-align: center;
}

.modal__buttons_container {
  display: flex;
  width: 100%;
  margin: 1rem 0;
}
.buttons_container__button_container {
  width: 100%;
}

@media (max-width: 768px) {
  .modal_container__modal {
    width: 90%;
  }
}
