.actions_container {
  display: flex;
  align-items: center;
  padding: 0.6rem 0;
  background-color: var(--white);
}

.actions_container__input_container {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
}

.input_container__input {
  padding: 0.7rem 0.6rem;
  flex: 1 0 auto;
  background-color: var(--white);
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  border-radius: 25px;
  border: none;
  outline: none;
  margin: 0 1rem;
  font-size: 1rem;
  color: #222;
}

.input_container__input::placeholder {
  color: var(--gray);
}

.input_container__action_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.3rem;
}

.action_button__button_container {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.action_button__button_container:active {
  background-color: #1da0f2;
}
